@zindex-drawer-background:  1040;
@zindex-drawer:             1050;

//== Modals
//
//##

//** Padding applied to the drawer body
@drawer-inner-padding:         15px;

//** Background color of drawer content area
@drawer-content-bg:                             #fff;
//** Modal content border color
@drawer-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
@drawer-content-fallback-border-color:          #999;

//** Modal backdrop background color
@drawer-backdrop-bg:           rgba(0,0,0,.5);

//** Modal header border color
@drawer-header-border-color:   #e5e5e5;
//** Modal footer border color
@drawer-footer-border-color:   @drawer-header-border-color;

@drawer-lg:                    900px;
@drawer-md:                    600px;
@drawer-sm:                    280px;